@import "../../style/template";
@import "../../style/vars";

.shop {
  margin-top: 10%;
  


  &__title {
    text-align: center;
    padding: 5% 0 5% 0;
    font-size: 29px;
    @extend %font-title;

    @media #{$tablet}{
      font-size: 27px;
    }
    @media #{$mobile} {
      font-size: 23px;
    }
  }

  &__sheet {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    margin-bottom: 3%;

    @media #{$tablet}{
      grid-template-columns: 1fr 1fr;
      margin-left: 10%;
    }
    @media #{$mobile} {
      grid-template-columns: 1fr 1fr;
      margin-left: 10%;
    }
    
  }
}
