@import '../../style/template';
@import "../../style/vars";

.bread{
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__photo{
        width: 50%;
    }

    &__text{
        width: 40%;
    }

    &__photo-img{
        width: 100%;
        border-radius: 30px;
        margin: 7% 0 7% 0;
    }

    &__text-p{
        font-size: 20px;

        @media #{$tablet}{
            font-size: 18px;
        }
        @media #{$mobile} {
            font-size: 14px;
        }
    }
}