@import "../../style/template";
@import "../../style/vars";

.kits__image{
    height: 390px;
    display: flex;
    align-items: center;

    @media #{$tablet}{
        height: 350px;
    }
    @media #{$mobile} {
        height: 180px;
    }

    .kits__image-img{
        width:100%;
        border-radius: 20px;
    }
}